body{
  background-color:#F2F4F6;
}

.page {
  display: grid;
  grid-template-rows: 10% 90%;
}

.header {
  text-align:center;
  background-color:#3E5372;
  font-size:30px;
  color: white;
  border-bottom: 1px solid #646464;
  grid-row: 1;
  display: grid;
  grid-template-columns: 10% 20% 20% 20% 20% 10%;
}

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown-content {
  display:none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.sortAlgos:hover .dropbtn {background-color: #3e8e41;}

.sortAlgos:hover .dropdown-content {display: block;}

.dropdown-content a:hover {background-color: #ddd;}

.sortAlgos {
  grid-column: 2;
  position: relative;
  display: inline-block;
}

.amount {
  grid-column: 3;
}

.speed {
  grid-column: 4;
}

.start {
  grid-column: 5;
}

.main {
  min-height: 85vh;
  text-align:center;
  grid-row: 2;
  display: grid;
  grid-template-rows: 66% 34%;
}

.test {
  grid-row: 2;
}

#bars {
  display: grid;
  grid-template-columns: repeat(1,10px);
  justify-content: center;
}

hr {
  width:50%;
  margin:0 auto;
  border: 5px solid #3E5372;
  border-radius: 8px;
  background-color: #3E5372;

}